<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        &lt;!&ndash; ... &ndash;&gt;-->
<!--    </appender>-->
<!--    &lt;!&ndash; ... &ndash;&gt;-->
<!--    <logger name="org.springframework.security" level="trace" additivity="false">-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->
<!--</configuration>-->

<configuration>
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

<logger name="org.springframework.security" level="trace" additivity="false">
    <appender-ref ref="Console" />
</logger>

<root level="info">
    <appender-ref ref="STDOUT" />
</root>
</configuration>
